# {{ ansible_managed }}
#
{% if bootstrap_http_proxy_packages_per_repo is defined %}
{% for proxy_conf in bootstrap_http_proxy_packages_per_repo %}
Acquire::http::Proxy::{{ proxy_conf.host }} "{{ proxy_conf.proxy }}";
{% endfor %}
{% endif %}
{% if bootstrap_http_proxy_packages != None and bootstrap_http_proxy_packages | length > 0 %}
Acquire::http::Proxy "{{ bootstrap_http_proxy_packages }}";
{% endif %}
