# {{ ansible_managed }}
{% if ansible_pkg_mgr == 'rpm' %}
{% for item in bootstrap_ntpdate_servers %}
server {{ item }}
{% endfor %}

allow 127.0.0.1
allow ::1
{% else %}
# Listen on localhost only
listen on 127.0.0.1
listen on ::1

# Limit queries from localhost only
query from 127.0.0.1
query from ::1

sensor *

{% for item in bootstrap_ntpdate_servers %}
servers {{ item }}
{% endfor %}
{% endif %}
